.aboutHeadingInputs {
  text-align: start;
}
.about {
  display: flex;
}
.aboutLeftBox {
  width: 50%;
}
.aboutRightBox {
  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
#devlak {
  width: 535px;
  height: 122px;
  padding-top: 25px;
  padding-left: 20px;
  color: #3a3a3a;
  border: 1px solid #525557;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
#Special {
  width: 535px;
  height: 89px;
  color: #3a3a3a;
  border: 1px solid #525557;
  padding-top: 25px;
  padding-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.aboutHeading h2 {
  font-size: 64px;
  color: #fe3b1f;
  margin: 43px 43px 127px 140px;
  padding-top: 43px;
  padding-bottom: 43px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  text-align: start;
}
.aboutInput {
  width: 645px;
  height: 119px;
  margin: 0 115px 45px 153px;
}
.aboutInput h2 {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 16px;
}
.aboutTextArea {
  margin: 45px 115px 33px 153px;
}
.aboutTextArea h2 {
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.aboutRightBoxHeading h2 {
  margin: 43px 109px 100px 198px;
  color: #fe3b1f;
  font-size: 64px;
  line-height: 79px;
  text-align: start;
  padding-top: 43px;
  padding-bottom: 43px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
}
.aboutRightBoxText {
  width: 705px;
  height: 606px;
  margin: 0 104px 187px 198px;
  color: #ffffff;
  text-align: start;
  padding-right: 20px;
}
.aboutRightBoxText p {
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.05rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
#aboutNo {
  margin-top: 17px;
}

@media (max-width: 1600px) {
  .aboutRightBoxHeading h2 {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
  }
  .aboutRightBoxText {
    margin: 0 auto;
  }
  .aboutRightBoxText p {
    align-items: center;
    line-height: 35px;
    padding-top: 69px;
    padding-left: 20px;
    width: 600px;
  }
  .aboutHeading h2 {
    font-size: 48px;
  }
  .aboutInput,
  .aboutTextArea,
  .aboutTextArea {
    margin: 0 auto;
    padding-left: 30px;
  }
}
@media (max-width: 1250px) {
  .aboutreadberry-heading {
    max-width: 500px;
  }
  .AboutTextContent {
    width: 300px;
    margin: 0 auto;
  }
  .skillHeading {
    margin: 0 auto;
    width: 200px;
  }
  .aboutHeadingInputs {
    margin: 0 auto;
  }
  .aboutInput,
  .aboutTextArea,
  .aboutTextArea {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 20px;
  }
  #devlak,
  #Special {
    width: 300px;
    margin-top: 20px;
  }
  #aboutYes {
    margin-top: 20px;
  }
  .aboutRightBoxText {
    max-width: 300px;
  }
}
