.skill {
  display: flex;
}

.abouTSkill {
  background-color: #ffff;
  width: 50%;
}

.AboutRedberry {
  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
.aboutreadberry-heading > h2 {
  color: rgba(254, 59, 31, 1);
  font-size: 64px;
  margin: 72px 43px 3px 130px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  line-height: 79px;
}
.AboutTextContent > p {
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.05em;
  margin: 180px 126px 234px 176px;
  color: #ffffff;
  text-align: start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  width: 705px;
}
.skillHeading h2 {
  font-size: 64px;
  line-height: 79px;
  color: #fe3b1f;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
}
.skillHeading {
  width: 788px;
  height: 175px;
  margin: 72px 40px 110px 85px;
}
#skillChange {
  width: 455px;
  height: 54px;
}
#experianceTime {
  width: 455px;
  height: 54px;
  margin-top: 31px;
  font-family: Montserrat;
  font-style: italic;
}
.datapicker {
  margin-top: 31px;
}
.MuiFormControl-root {
  width: 455px;
}
.saved-programs {
  display: flex;
  justify-content: space-between;
  width: 455px;
  height: 54px;
  align-items: center;
  border: 1px solid black;
  margin-left: 247px;
}
.saved-programs p {
  margin: 0 10px;
}
.add-button button {
  width: 201px;
  height: 32px;
  background-color: #fe3b1f;
  color: #ffffff;
  margin-top: 22px;
  margin-left: 255px;
  margin-bottom: 56px;
}
