.leftSide {
  width: 50%;
  height: 100vh;
}
.rightSide {
  width: 50%;
  background-color: #454545;
  height: 100vh;
}
.OriginPage {
  display: flex;
}
.Origin-heading h2 {
  font-size: 64px;
  line-height: 79.49px;
  font-weight: 400;
  color: #fe3b1f;
}
.Origin-heading {
  width: 716px;
  margin: 105px 0 0 131px;
}
