.leftSide {
  width: 50%;
}
.rightSide {
  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  height: 100vh;
}
.OriginPage {
  display: flex;
}
.OriginHeading h2 {
  font-size: 64px;
  line-height: 79.49px;
  font-weight: 400;
  color: #fe3b1f;
}
.OriginHeading {
  width: 716px;
  margin: 105px 0 0 131px;
}
.originHeadingTwo {
  margin-top: 97px;
  margin-left: 177px;
}
.originHeadingTwo h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 79.49px;
  color: #fe3b1f;
  text-align: start;
}
.rightSideText {
  width: 705px;
  margin-left: 180px;
}
.rightSide p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: start;
  padding-top: 150px;
}
.firstForm {
  margin-top: 131px;
}
.firstForm > input {
  width: 455px;
  height: 54px;
  padding: 17px 203px 13px 57px;
  margin-bottom: 37px;
}
