.homePage {
  background-image: url("../../../images/stars.svg");
  height: 100vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.heading {
  margin-top: 175px;
}
h1 {
  font-size: 96px;
  color: #fe3b1f;
}
.startButton > button {
  width: 395px;
  height: 79px;
  border-radius: 50px;
  color: #ffffff;
  background: #fe3b1f;
  font-size: 24px;
  line-height: 29.26px;
  margin-top: 175px;
}
.submitted-application {
  margin-top: 41px;
}
.submitted-application > a {
  color: #ffffff;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 400;
}
.rocketImg {
  background-color: red;
}
